<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/views/styles.css">

    <title>Mikulas Klimko</title>
    <style>
        .alert {
            opacity: 1;
            transition: opacity 0.6s;
            /* 600ms to fade out */
        }

        h1 {
            text-align: center;
            color: #4d4d4d;
            font-size: 24px;
            padding: 20px 0 20px 0;
        }

        form {
            width: 300px;
            margin: 0 auto;
            font-family: Tahoma, Geneva, sans-serif;
        }

        input {
            width: 100%;
            padding: 15px;
            border: 1px solid #dddddd;
            margin-bottom: 15px;
            box-sizing: border-box;
        }

        p {
            width: 100%;
            padding: 15px;
            background-color: #535b63;
            border: 0;
            box-sizing: border-box;
            cursor: pointer;
            font-weight: bold;
            color: #ffffff;
        }
    </style>
</head>
<!--Vytvorenie registračneho formulára-->

<body>
    <h1>Registrácia</h1>
    <h4 id="msg"></h4>
    <form id="FormSub">
        <label for="email">Email: </label>
        <input type="text" placeholder="Email" id="email" name="email"><br><br>

        <label for="heslo"> Heslo: </label>
        <input type="password" placeholder="Heslo" id="heslo" name="heslo"><br><br>

        <label for="heslo">Zopakujte Heslo: </label>
        <input type="password" placeholder="Zopakujte Heslo" id="heslo2" name="heslo2"><br>
        <br>
        <br>
        <input type="submit" value="Registrácia">
        <br>
        <br>
        <a class="nav-link" href="/login">Prihlasenie </a>

    </form>

    <script>
        document.getElementById('FormSub').addEventListener('submit', Send);
        function Send(e) {
            e.preventDefault();
            var email = document.querySelector('#email').value;
            var pass = document.querySelector('#heslo').value;
            var pass2 = document.querySelector('#heslo2').value;
            if (pass === pass2) {
                fetch('/', {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({ Email: email, Heslo: pass, Heslo2: pass2 })
                })
                    .then((res) => res.json())
                    .then(data => {
                        console.log(data)
                    })
            } else {
                rdocument.getElementById('msg').innerHTML = "Hesla sa nezhoduju";
            }

        }

    </script>
</body>

</html>