<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	
		<link rel="stylesheet" href="/style.css">


    <title>Mikulas Klimko</title>
    
       
</head>
<!--Vytvorenie registračneho formulára-->

<body>

    <nav>
        <h4>Mikulas Klimko</h4>
        <ul>
            <li><a href="/">Domov</a></li>
            <li><a href="/login">Prihlasenie</a></li>
            <li><a href="/index">Registracia</a></li>
        </ul>
    </nav>

    <h1>Registrácia</h1>
    <h4 id="msg"></h4>
    <form id="FormSub">
        <label for="email">Email: </label>
        <input type="text" placeholder="Email" id="email" name="email"><br>

        <label for="heslo"> Heslo: </label>
        <input type="password" placeholder="Heslo" id="heslo" name="heslo"><br>

        <label for="heslo">Zopakujte Heslo: </label>
        <input type="password" placeholder="Zopakujte Heslo" id="heslo2" name="heslo2"><br>
        <br>
        
        <input type="submit" value="Registrácia">
        <br>
        
        

    </form>

    <script>
        document.getElementById('FormSub').addEventListener('submit', Send);
        function Send(e) {
            e.preventDefault();
            var email = document.querySelector('#email').value;
            var pass = document.querySelector('#heslo').value;
            var pass2 = document.querySelector('#heslo2').value;
            if (pass === pass2) {
                fetch('/', {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json, text/plain, */*',
                        'Content-type': 'application/json'
                    },
                    body: JSON.stringify({ Email: email, Heslo: pass, Heslo2: pass2 })
                })
                    .then((res) => res.json())
                    .then(data => {
                        console.log(data)
                    })
            } else {
                document.getElementById('msg').innerHTML = "Hesla sa nezhoduju";
            }

        }

    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
</body>

</html>